* {
	margin: 0;
	padding: 0;
	outline: none;
}

/**
* Glyphicons
*/
@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../fonts/glyphicons-halflings-regular.eot');
	src: url('../fonts/glyphicons-halflings-regular.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
		url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
		url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular')
		format('svg')
}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.glyphicon-asterisk:before {
	content: "\2a"
}

.glyphicon-plus:before {
	content: "\2b"
}

.glyphicon-euro:before {
	content: "\20ac"
}

.glyphicon-minus:before {
	content: "\2212"
}

.glyphicon-cloud:before {
	content: "\2601"
}

.glyphicon-envelope:before {
	content: "\2709"
}

.glyphicon-pencil:before {
	content: "\270f"
}

.glyphicon-glass:before {
	content: "\e001"
}

.glyphicon-music:before {
	content: "\e002"
}

.glyphicon-search:before {
	content: "\e003"
}

.glyphicon-heart:before {
	content: "\e005"
}

.glyphicon-star:before {
	content: "\e006"
}

.glyphicon-star-empty:before {
	content: "\e007"
}

.glyphicon-user:before {
	content: "\e008"
}

.glyphicon-film:before {
	content: "\e009"
}

.glyphicon-th-large:before {
	content: "\e010"
}

.glyphicon-th:before {
	content: "\e011"
}

.glyphicon-th-list:before {
	content: "\e012"
}

.glyphicon-ok:before {
	content: "\e013"
}

.glyphicon-remove:before {
	content: "\e014"
}

.glyphicon-zoom-in:before {
	content: "\e015"
}

.glyphicon-zoom-out:before {
	content: "\e016"
}

.glyphicon-off:before {
	content: "\e017"
}

.glyphicon-signal:before {
	content: "\e018"
}

.glyphicon-cog:before {
	content: "\e019"
}

.glyphicon-trash:before {
	content: "\e020"
}

.glyphicon-home:before {
	content: "\e021"
}

.glyphicon-file:before {
	content: "\e022"
}

.glyphicon-time:before {
	content: "\e023"
}

.glyphicon-road:before {
	content: "\e024"
}

.glyphicon-download-alt:before {
	content: "\e025"
}

.glyphicon-download:before {
	content: "\e026"
}

.glyphicon-upload:before {
	content: "\e027"
}

.glyphicon-inbox:before {
	content: "\e028"
}

.glyphicon-play-circle:before {
	content: "\e029"
}

.glyphicon-repeat:before {
	content: "\e030"
}

.glyphicon-refresh:before {
	content: "\e031"
}

.glyphicon-list-alt:before {
	content: "\e032"
}

.glyphicon-lock:before {
	content: "\e033"
}

.glyphicon-flag:before {
	content: "\e034"
}

.glyphicon-headphones:before {
	content: "\e035"
}

.glyphicon-volume-off:before {
	content: "\e036"
}

.glyphicon-volume-down:before {
	content: "\e037"
}

.glyphicon-volume-up:before {
	content: "\e038"
}

.glyphicon-qrcode:before {
	content: "\e039"
}

.glyphicon-barcode:before {
	content: "\e040"
}

.glyphicon-tag:before {
	content: "\e041"
}

.glyphicon-tags:before {
	content: "\e042"
}

.glyphicon-book:before {
	content: "\e043"
}

.glyphicon-bookmark:before {
	content: "\e044"
}

.glyphicon-print:before {
	content: "\e045"
}

.glyphicon-camera:before {
	content: "\e046"
}

.glyphicon-font:before {
	content: "\e047"
}

.glyphicon-bold:before {
	content: "\e048"
}

.glyphicon-italic:before {
	content: "\e049"
}

.glyphicon-text-height:before {
	content: "\e050"
}

.glyphicon-text-width:before {
	content: "\e051"
}

.glyphicon-align-left:before {
	content: "\e052"
}

.glyphicon-align-center:before {
	content: "\e053"
}

.glyphicon-align-right:before {
	content: "\e054"
}

.glyphicon-align-justify:before {
	content: "\e055"
}

.glyphicon-list:before {
	content: "\e056"
}

.glyphicon-indent-left:before {
	content: "\e057"
}

.glyphicon-indent-right:before {
	content: "\e058"
}

.glyphicon-facetime-video:before {
	content: "\e059"
}

.glyphicon-picture:before {
	content: "\e060"
}

.glyphicon-map-marker:before {
	content: "\e062"
}

.glyphicon-adjust:before {
	content: "\e063"
}

.glyphicon-tint:before {
	content: "\e064"
}

.glyphicon-edit:before {
	content: "\e065"
}

.glyphicon-share:before {
	content: "\e066"
}

.glyphicon-check:before {
	content: "\e067"
}

.glyphicon-move:before {
	content: "\e068"
}

.glyphicon-step-backward:before {
	content: "\e069"
}

.glyphicon-fast-backward:before {
	content: "\e070"
}

.glyphicon-backward:before {
	content: "\e071"
}

.glyphicon-play:before {
	content: "\e072"
}

.glyphicon-pause:before {
	content: "\e073"
}

.glyphicon-stop:before {
	content: "\e074"
}

.glyphicon-forward:before {
	content: "\e075"
}

.glyphicon-fast-forward:before {
	content: "\e076"
}

.glyphicon-step-forward:before {
	content: "\e077"
}

.glyphicon-eject:before {
	content: "\e078"
}

.glyphicon-chevron-left:before {
	content: "\e079"
}

.glyphicon-chevron-right:before {
	content: "\e080"
}

.glyphicon-plus-sign:before {
	content: "\e081"
}

.glyphicon-minus-sign:before {
	content: "\e082"
}

.glyphicon-remove-sign:before {
	content: "\e083"
}

.glyphicon-ok-sign:before {
	content: "\e084"
}

.glyphicon-question-sign:before {
	content: "\e085"
}

.glyphicon-info-sign:before {
	content: "\e086"
}

.glyphicon-screenshot:before {
	content: "\e087"
}

.glyphicon-remove-circle:before {
	content: "\e088"
}

.glyphicon-ok-circle:before {
	content: "\e089"
}

.glyphicon-ban-circle:before {
	content: "\e090"
}

.glyphicon-arrow-left:before {
	content: "\e091"
}

.glyphicon-arrow-right:before {
	content: "\e092"
}

.glyphicon-arrow-up:before {
	content: "\e093"
}

.glyphicon-arrow-down:before {
	content: "\e094"
}

.glyphicon-share-alt:before {
	content: "\e095"
}

.glyphicon-resize-full:before {
	content: "\e096"
}

.glyphicon-resize-small:before {
	content: "\e097"
}

.glyphicon-exclamation-sign:before {
	content: "\e101"
}

.glyphicon-gift:before {
	content: "\e102"
}

.glyphicon-leaf:before {
	content: "\e103"
}

.glyphicon-fire:before {
	content: "\e104"
}

.glyphicon-eye-open:before {
	content: "\e105"
}

.glyphicon-eye-close:before {
	content: "\e106"
}

.glyphicon-warning-sign:before {
	content: "\e107"
}

.glyphicon-plane:before {
	content: "\e108"
}

.glyphicon-calendar:before {
	content: "\e109"
}

.glyphicon-random:before {
	content: "\e110"
}

.glyphicon-comment:before {
	content: "\e111"
}

.glyphicon-magnet:before {
	content: "\e112"
}

.glyphicon-chevron-up:before {
	content: "\e113"
}

.glyphicon-chevron-down:before {
	content: "\e114"
}

.glyphicon-retweet:before {
	content: "\e115"
}

.glyphicon-shopping-cart:before {
	content: "\e116"
}

.glyphicon-folder-close:before {
	content: "\e117"
}

.glyphicon-folder-open:before {
	content: "\e118"
}

.glyphicon-resize-vertical:before {
	content: "\e119"
}

.glyphicon-resize-horizontal:before {
	content: "\e120"
}

.glyphicon-hdd:before {
	content: "\e121"
}

.glyphicon-bullhorn:before {
	content: "\e122"
}

.glyphicon-bell:before {
	content: "\e123"
}

.glyphicon-certificate:before {
	content: "\e124"
}

.glyphicon-thumbs-up:before {
	content: "\e125"
}

.glyphicon-thumbs-down:before {
	content: "\e126"
}

.glyphicon-hand-right:before {
	content: "\e127"
}

.glyphicon-hand-left:before {
	content: "\e128"
}

.glyphicon-hand-up:before {
	content: "\e129"
}

.glyphicon-hand-down:before {
	content: "\e130"
}

.glyphicon-circle-arrow-right:before {
	content: "\e131"
}

.glyphicon-circle-arrow-left:before {
	content: "\e132"
}

.glyphicon-circle-arrow-up:before {
	content: "\e133"
}

.glyphicon-circle-arrow-down:before {
	content: "\e134"
}

.glyphicon-globe:before {
	content: "\e135"
}

.glyphicon-wrench:before {
	content: "\e136"
}

.glyphicon-tasks:before {
	content: "\e137"
}

.glyphicon-filter:before {
	content: "\e138"
}

.glyphicon-briefcase:before {
	content: "\e139"
}

.glyphicon-fullscreen:before {
	content: "\e140"
}

.glyphicon-dashboard:before {
	content: "\e141"
}

.glyphicon-paperclip:before {
	content: "\e142"
}

.glyphicon-heart-empty:before {
	content: "\e143"
}

.glyphicon-link:before {
	content: "\e144"
}

.glyphicon-phone:before {
	content: "\e145"
}

.glyphicon-pushpin:before {
	content: "\e146"
}

.glyphicon-usd:before {
	content: "\e148"
}

.glyphicon-gbp:before {
	content: "\e149"
}

.glyphicon-sort:before {
	content: "\e150"
}

.glyphicon-sort-by-alphabet:before {
	content: "\e151"
}

.glyphicon-sort-by-alphabet-alt:before {
	content: "\e152"
}

.glyphicon-sort-by-order:before {
	content: "\e153"
}

.glyphicon-sort-by-order-alt:before {
	content: "\e154"
}

.glyphicon-sort-by-attributes:before {
	content: "\e155"
}

.glyphicon-sort-by-attributes-alt:before {
	content: "\e156"
}

.glyphicon-unchecked:before {
	content: "\e157"
}

.glyphicon-expand:before {
	content: "\e158"
}

.glyphicon-collapse-down:before {
	content: "\e159"
}

.glyphicon-collapse-up:before {
	content: "\e160"
}

.glyphicon-log-in:before {
	content: "\e161"
}

.glyphicon-flash:before {
	content: "\e162"
}

.glyphicon-log-out:before {
	content: "\e163"
}

.glyphicon-new-window:before {
	content: "\e164"
}

.glyphicon-record:before {
	content: "\e165"
}

.glyphicon-save:before {
	content: "\e166"
}

.glyphicon-open:before {
	content: "\e167"
}

.glyphicon-saved:before {
	content: "\e168"
}

.glyphicon-import:before {
	content: "\e169"
}

.glyphicon-export:before {
	content: "\e170"
}

.glyphicon-send:before {
	content: "\e171"
}

.glyphicon-floppy-disk:before {
	content: "\e172"
}

.glyphicon-floppy-saved:before {
	content: "\e173"
}

.glyphicon-floppy-remove:before {
	content: "\e174"
}

.glyphicon-floppy-save:before {
	content: "\e175"
}

.glyphicon-floppy-open:before {
	content: "\e176"
}

.glyphicon-credit-card:before {
	content: "\e177"
}

.glyphicon-transfer:before {
	content: "\e178"
}

.glyphicon-cutlery:before {
	content: "\e179"
}

.glyphicon-header:before {
	content: "\e180"
}

.glyphicon-compressed:before {
	content: "\e181"
}

.glyphicon-earphone:before {
	content: "\e182"
}

.glyphicon-phone-alt:before {
	content: "\e183"
}

.glyphicon-tower:before {
	content: "\e184"
}

.glyphicon-stats:before {
	content: "\e185"
}

.glyphicon-sd-video:before {
	content: "\e186"
}

.glyphicon-hd-video:before {
	content: "\e187"
}

.glyphicon-subtitles:before {
	content: "\e188"
}

.glyphicon-sound-stereo:before {
	content: "\e189"
}

.glyphicon-sound-dolby:before {
	content: "\e190"
}

.glyphicon-sound-5-1:before {
	content: "\e191"
}

.glyphicon-sound-6-1:before {
	content: "\e192"
}

.glyphicon-sound-7-1:before {
	content: "\e193"
}

.glyphicon-copyright-mark:before {
	content: "\e194"
}

.glyphicon-registration-mark:before {
	content: "\e195"
}

.glyphicon-cloud-download:before {
	content: "\e197"
}

.glyphicon-cloud-upload:before {
	content: "\e198"
}

.glyphicon-tree-conifer:before {
	content: "\e199"
}

.glyphicon-tree-deciduous:before {
	content: "\e200"
}

/**
* Scroll
*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #DDDDDD;
}

::-webkit-scrollbar-thumb {
    background: #0965AF;
}

/** 
* Recaptcha Style Captcha 
*/
#captcha-wrap {
	border: solid #CCCCCC 1px;
	width: 175px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #F6F6F6;
	text-align: left;
	padding: 3px;
	margin: 20px 10px 0 0;
	float: left;
	height: 94px;
}

#captcha-wrap .captcha-box {
	-webkit-border-radius: 7px;
	background: #fff;
	-moz-border-radius: 7px;
	border-radius: 7px;
	text-align: center;
	border: solid #CCC 1px;
	width: 173px;
	float: left;
}

#captcha-wrap .text-box {
	-webkit-border-radius: 7px;
	background: #F6F6F6;
	-moz-border-radius: 7px;
	width: 140px;
	height: 53px;
	float: left;
	margin: 4px;
	border-radius: 7px;
	text-align: center;
	border: none;
}

#captcha-wrap .text-box input {
	width: 120px;
}

#captcha-wrap .text-box label {
	color: #000000;
	font-family: helvetica, sans-serif;
	font-size: 12px;
	width: 150px;
	padding-top: 3px;
	padding-bottom: 3px;
}

#captcha-wrap .captcha-action {
	float: right;
	width: 117px;
	background: url(logos.jpg) top right no-repeat;
	height: 44px;
	margin-top: 3px;
}

#captcha-wrap  img#captcha-refresh {
	margin-top: 19px;
	border: solid #333333 1px;
	margin-right: 6px;
	cursor: pointer;
}

#captcha-code {
	padding: 5px;
	background: #FFF;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border: 1px solid #CCCCCC;
}

body {
	font-family: Arial;
	min-width: 1345px;
}

.clearfix:after,.clearfix:before {
	clear: both;
	display: block;
	content: '';
}

.container-section {
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

nav.top-menu {
	position: relative;
}

.login {
	width: 620px;
	margin: 0 auto
}

.logo-izabela {
	margin: 20px 0 0 0
}

.logo-tmt {
	float: right;
	margin: 26px 100px 0 0
}

.header-login {
	text-align: center;
}

.body-login {
	background: #EFEFEF;
	margin: 30px 0 0 0;
	padding-bottom: 20px
}

.body-login h1 {
	width: 100%;
	float: left;
	text-align: center;
	font-family: Arial;
	font-weight: lighter;
	color: black;
	margin: 15px 0 15px 0
}

.body-login h5 {
	width: 313px;
	text-align: center;
	font-family: Arial;
	font-weight: lighter;
	color: black;
	margin: 15px auto 0 auto
}

.login-box {
	width: 438px;
	margin: 30px auto;
	border-left: 29px solid #0061B2;
	background: linear-gradient(to top, #DADADA, #ffffff);
	padding: 15px 0
}

.login-box p {
	font: 20px arial;
	color: #0060B2;
	font-weight: bold
}

#txt-input-login {
	width: 363px;
	border: 1px solid #b5b5b5;
	background: #ffffff;
	padding: 10px;
	outline: none
}

#text-input-password {
	width: 160px;
	border: 1px solid #b5b5b5;
	background: #ffffff;
	padding: 10px;
	outline: none
}

.btn-login {
	float: right;
	background: #0061B2;
	padding: 2px 15px;
	height: 38px;
	border: none;
	font: 16px Arial;
	color: #ffffff;
	border-bottom: 6px solid #0A3D9B;
	cursor: pointer
}

.btn-login:hover {
	opacity: .8
}

.footer-login {
	height: 128px;
	border-bottom: 17px solid #0A3D9B;
	margin: 20px 0 0 0;
	background-image: linear-gradient(to top, #BEBEBC -6%, #EEEEEE, #BEBEBE 140%);
}

.footer-login img {
	float: right;
	margin: 35px 20px 0 0
}

.footer-login-logos {
	background: url('../img/footer-login.png');
	width: 250px;
	height: 61px;
	margin: 35px 0 0 0;
	float: left;
}

.clear {
	clear: both
}

.content-box {
	width: 100%;
}

.situacao-box {
	width: 960px;
	background: #e5e5e5;
	float: left;
	margin: 20px 0 0 20px;
	border: 1px solid #b5b5b5;
	padding: 20px;
	position: relative
}

.situacao-box h1 {
	font: 26px Arial;
	color: black
}

.situacao-inset-box {
	background: linear-gradient(to top, #DADADA, #FFFFFF);
	border: 1px solid #b5b5b5;
	border-left: 15px solid #0061B2;
	margin: 20px 0 0 0;
}

.left-menu-box {
	float: left;
	width: 290px;
}

.left-menu-box .logo-tmt-box {
	margin: 20px 0 0 40px;
	float: left;
}

.left-menu-box .logo-izabela-box {
	margin: 20px 0 0 40px;
	float: left;
}

.solics {
	width: 429px;
	height: 73px;
	padding: 10px 0 0 0;
	float: left;
	margin: 20px 0 0 20px
}

.solics:hover {
	background: url(../img/solics.png)
}

.solics:hover h1 {
	color: #fff;
}

.solics h1 {
	float: right;
	margin: 10px 0 0 0;
	font: 26px arial;
	color: #005FB2;
	font-weight: bold
}

.solicsHovered {
	width: 429px;
	height: 73px;
	padding: 10px 0 0 0;
	float: left;
	margin: 20px 0 0 20px;
	background: url(../img/solics.png);
	float: left;
	background-position: -65px 0px;
	margin: 20px;
	width: auto;
	padding: 10px;
	box-sizing: border-box;
	height: 83px
}

.solicsHovered h1 {
	float: right;
	margin: 10px 0 0 0;
	font: 26px arial;
	color: #ffffff;
	font-weight: bolf
}

.main-content {
	float: left;
	min-height: 548px;
	width: 1050px;
	border-left: 1px solid #AAAAAA;
	padding-bottom: 30px
}

.num {
	background: #f00;
	padding: 2px 4px;
	float: left;
	border-radius: .2em;
	font: 15px arial;
	color: #ffffff;
}

.head-item {
	width: 100px;
	float: left;
	text-align: center;
	padding: 0 20px;
	font: 11px arial;
	font-style: italic;
}

.menu {
	width: 210px;
	margin: 10px 0 0 0;
}

.menu ul {
	list-style: none;
	width: 100%;
}

.menu ul li {
	width: 100%
}

.menu ul li a {
	border-bottom: 1px dotted #aaa;
	width: 100%;
	float: left;
	text-decoration: none;
	padding: 7px 0 7px 7px;
	font: 13px arial;
	color: #333333;
}

.menu ul li a span {
	color: #999999
}

.menu ul li a:hover {
	background: #0965AF;
	color: #ffffff;
}

.menu .glyphicon {
	color: #999;
}

.menu ul li .on {
	background: #0965AF;
	color: #ffffff;
}

.menu ul li .on span {
	color: #FFFFFF;
}

.menu ul li a:hover span {
	color: #FFFFFF;
}

.left-box {
	width: 290px;
	border-right: 1px solid #AAAAAA;
	padding: 0 0 20px 0;
	float: left
}

.left-box ul {
	list-style: none;
	float: left;
	margin: 0;
	width: 100%;
	margin: 10px 0 0 0
}

.left-box ul li a {
	float: left;
	width: 96%;
	padding: 5px 2%;
	color: #ffffff;
	font: 13px arial;
	color: black;
	text-decoration: none;
	border-bottom: 1px dotted #aaaaaa
}

.left-box ul li a:hover,.on {
	font-weight: bold !important;
	color: white !important;
	background: #0965AF
}

.line {
	width: 100%;
	height: 15px;
	background: url(../img/line.png) repeat-x
}

.especifica {
	float: left;
	width: 780px;
	height: 362px;
	background: #333333;
	margin: 15px 0 0 20px;
	background: url(../img/especifica.png) no-repeat
}

.footer {
	height: 90px;
	width: 100%;
	background-image: linear-gradient(to top, #BEBEBC -6%, #EEEEEE, #BEBEBE 140%);
	border-bottom: 9px solid #0A3D9B
}

.footer img {
	float: right;
	margin: 20px 20px 0 0
}

.right-next {
	float: left;
	width: 780px;
	margin: 0 0 0 220px;
	font: 13px Arial;
	color: black
}

.btn-send-photo {
	position: absolute;
	top: 167px;
	outline: none;
	left: 70px;
	border: 1px solid #cccccc;
	background: linear-gradient(to top, #CBCBDA, #ffffff);
	border-top-right-radius: .4em;
	border-top-left-radius: .4em;
	font: 11px arial;
	font-weight: bold;
	padding: 3px
}

.btn-send-photo:hover {
	opacity: .8;
	cursor: pointer
}

.right-next p {
	width: 315px
}

.item-aviso {
	background: url(../img/linear-table-1.png);
	height: 106px;
	border: 1px solid #aaaaaa;
	border-left: 9px solid #0965AF;
	cursor: pointer;
	margin: 0 0 10px 0;
}

.item-aviso:hover {
	box-shadow: 0 0 10px #999999
}

.item-line-aviso {
	float: left;
	text-align: center;
	height: 81px;
	border-right: 1px solid #aaa;
	margin: 12.5px 0 0 0;
	padding: 0 20px;
}

.box-img-pessoa {
	float: left;
	position: relative;
	margin: 35px 0 0 20px;
	background: #EFEFEF;
	border: 1px solid #B5B5B5;
	padding: 15px 20px
}

.box-img-pessoa p {
	font: 12px arial;
	font-weight: bold;
	color: #005FB2;
	margin: 0 0 10px 5px;
	font-style: italic;
}

.btn-img-pessoa {
	background: linear-gradient(to top, #CBCBDA, #FDFDFD);
	border: 1px solid #959595;
	font: 11px arial;
	color: #333333;
	position: absolute;
	height: 19px;
	width: 83px;
	bottom: 27px;
	left: 60px;
	border-top-left-radius: .6em;
	border-top-right-radius: .6em;
	cursor: pointer;
	outline: none;
	border-bottom: 0;
	font-weight: bold
}

.btn-img-pessoa:hover {
	opacity: .8;
}

.alert-send-image {
	width: 760px;
	background: #0061B2;
	float: left;
	padding: 10px;
	margin: 0 0 10px 0
}

.alert-send-image img {
	float: left
}

.alert-send-image p {
	font: 12px Arial;
	color: white;
	width: 90%;
	float: left;
	margin: 0 0 0 20px;
}

.menu-usuario {
	position: absolute;
	top: 15px;
	right: 0;
	width: 175px
}

.menu-usuario .pagina-inicial {
	float: right;
	width: 170px;
	padding: 7px 0;
	border-bottom: 1px solid #aaaaaa;
}

.menu-usuario .pagina-inicial:hover {
	background: #eeeeee;
}

.menu-usuario .pagina-inicial img {
	float: right;
}

.menu-usuario .pagina-inicial p {
	font: 13px Arial;
	font-weight: bold;
	color: black;
	text-decoration: none;
	float: right;
	margin: 0 10px 0 5px
}

.menu-usuario .minha-conta {
	float: right;
	width: 170px;
	padding: 7px 0;
	cursor: pointer
}

.menu-usuario .minha-conta:hover {
	background: #eeeeee;
}

.menu-usuario .minha-conta img {
	float: right;
	margin: 5px 10px 0 0;
}

.menu-usuario .minha-conta p {
	font: 13px Arial;
	font-weight: bold;
	color: black;
	text-decoration: none;
	float: right;
	margin: 0 5px 0 0
}

.menu-usuario .sair-link {
	background: #eeeeee;
	text-align: left;
	font-style: italic;
	font-weight: bold;
	margin: 0 0 0 0;
	font-family: Arial;
	font-size: 14px;
	text-decoration: none;
	color: black;
	float: right;
	width: 160px;
	cursor: pointer;
	padding: 7px 10px 7px 0;
	display: none
}

.menu-usuario .sair-link:hover {
	background: #dddddd;
}

.menu-usuario .sair-icone {
	background: url('../img/source.png') no-repeat -38px -6px;
	width: 22px;
	height: 22px;
	display: inline-block;
	float: left;
	margin: -5px 0;
}

.item-solics {
	background: url(../img/linear-table-2.png);
	height: 106px;
	border: 1px solid #aaaaaa;
	border-left: 9px solid #0965AF;
	cursor: pointer;
	margin: 0 0 10px 0;
}

.item-solics a {
	text-decoration: none
}

.item-solics .saiba-mais {
	float: left;
	margin: 4px 0 0 10px;
}

.item-solics .saiba-mais:hover {
	text-decoration: underline;
}

.item-solics:hover {
	box-shadow: 0 0 10px #999999
}

.errorLogin {
	width: 373px;
	padding: 5px;
	margin: 0 0 10px 25px;
	float: left;
}

.errorLogin a {
	text-decoration: none;
	color: #0099ff;
}

.errorLogin a:hover {
	text-decoration: underline;
}

.j-alert-error {
	padding: 10px;
	background: #eee;
	font: 12px arial;
	color: #333333;
	margin: 10px 0 0 0;
}

.btn-conf-iza {
	float: right;
	background: #0061B2;
	padding: 2px 15px;
	height: 38px;
	border: none;
	font: 16px Arial, Verdana, sans-serif;
	color: #ffffff;
	border-bottom: 6px solid #0A3D9B;
	cursor: pointer;
	margin: 0 0 0 10px;
	font-weight: bold;
}

.btn-cancel-iza {
	float: right;
	outline: none;
	background: #FF0000;
	padding: 2px 15px;
	height: 38px;
	border: none;
	font: 16px Arial, Verdana, sans-serif;
	color: #ffffff;
	border-bottom: 6px solid #A40000;
	cursor: pointer;
	font-weight: bold;
}

.btn-conf-iza:hover {
	opacity: .8
}

.btn-conf-iza:active {
	opacity: 1;
	position: relative;
	top: 1px;
	left: 1px
}

.btn-cancel-iza:hover {
	opacity: .8
}

.modal-photo {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 2;
	background: rgba(0, 0, 0, .7);
	display: none;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.box-photo {
	width: 550px;
	height: auto;
	background: white;
	border-radius: .8em;
	margin: 8% auto;
	padding: 10px 0 25px 0;
}

.btn-close-box {
	width: 25px;
	height: 25px;
	border: none;
	background: url(../img/btn-close-box.png) no-repeat;
	cursor: pointer;
	outline: none;
	float: right;
	margin: 5px
}

.btn-close-box:hover {
	opacity: .8
}

.header-modal-photo {
	width: 500px;
	margin: 30px auto;
	padding: 10px 0;
	text-align: center;
	color: white;
	font: 22px Arial;
	font-weight: lighter;
	background: #0965AF;
	cursor: move;
}

.content-modal-photo {
	width: 500px;
	border: 1px solid #b5b5b5;
	margin: 20px auto 0 auto;
	background: #EEEEEF;
	padding: 0 0 30px 0
}

.btn-take-photo {
	height: 76px;
	width: 406px;
	background: url(../img/btn-photo.png) no-repeat;
	border: none;
	margin: 0;
	cursor: pointer;
	outline: none
}

.btn-file-photo {
	height: 76px;
	width: 406px;
	background: url(../img/btn-photo.png) no-repeat;
	background-position: 0 -76px;
	border: none;
	margin: 0;
	cursor: pointer;
	outline: none
}

.btn-fb-photo {
	height: 76px;
	width: 406px;
	background: url(../img/btn-photo.png) no-repeat;
	background-position: 0 -152px;
	border: none;
	margin: 0;
	cursor: pointer;
	outline: none
}

.btn-take-photo:hover {
	opacity: .8
}

.btn-file-photo:hover {
	opacity: .8
}

.btn-fb-photo:hover {
	opacity: .8
}

#descricao-nome-curso {
	width: 270px;
	color: #0865AE;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	float: left;
	font-family: Arial, sans-serif;
}

#box-edit-mail-of-solicitation {
	display: none;
}

#btn-edit-mail-of-solicitation {
	font: 20px arial;
	cursor: pointer;
	color: #ffffff;
	font-weight: bold;
	margin: 11px 0 0 0;
}

#change-mail-of-solicitation {
	width: 135px;
}

.aviso {
	width: 80%;
	margin: 0 auto;
	background: #eee;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px -3px #333333;
}

.aviso h1 {
	text-align: center;
	font-family: calibri;
}

.aviso h1>small {
	color: #555;
}

.aviso-remetente {
	background: #fff;
	padding: 5px;
	display: inline-block;
	width: 45%;
	float: right;
	margin: 5px 0;
	box-sizing: border-box;
}

.aviso .aviso-msg {
	background: #fff;
	padding: 15px;
	margin: 5px 0;
	white-space: pre-wrap;
	box-sizing: border-box;
	overflow-y: auto;
}

.aviso .default-box-aviso {
	background: #fff;
	padding: 5px;
	display: inline-block;
}

.warning {
	background: #eee;
	padding: 20px;
	font: 20px Calibri;
	border-radius: 10px;
	box-shadow: 0 0 10px #333333;
	margin: 10px 0;
}

.wm-table {
	border-collapse: collapse;
	box-shadow: 0 3px 10px -3px #333;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.wm-table.big {
	font-family: 14px !important;
	width: 100%;
}

.wm-table td,.wm-table th {
	border: 1px solid #cccccc;
}

.wm-table thead th {
	background-image: linear-gradient(to bottom, #dddddd, #eeeeee);
	color: #222222;
	padding: 10px;
}

.wm-table tbody td {
	-webkit-transition: background 0.6s linear 0.3s;
	transition: background 0.6s;
	text-align: center;
	vertical-align: middle;
	padding: 10px;
}

.wm-table tbody tr:hover td {
	background: lightblue;
}

.wm-table tbody tr:nth-child(odd) {
	background: #E2E4FF;
}

.wm-table.error tbody tr:nth-child(odd) {
	background-color: #E3CFCF;
}

.wm-input {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
	border: thin solid #ccc;
	font-size: 14px;
	padding: 4px 6px;
}

.wm-textarea {
	width: 100%;
	padding: 8px;
	height: 151px;
	font: 14px Arial;
	border-radius: 3px;
	border: 1px solid #CCCCCC;
	resize: none;
}

.wm-textarea:focus {
	box-shadow: 0 0 4px #069
}

.wm-btn:hover {
	opacity: 0.6
}

.wm-input:invalid:focus {
	box-shadow: 0 0 5px #f00;
}

.wm-input.input-large {
	width: 250px;
}

.wm-btn {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 20px;
	cursor: pointer;
	margin-bottom: 0;
	padding: 4px 12px;
	text-align: center;
	background-color: #f5f5f5;
	border: thin solid #ccc;
	color: #555;
	text-decoration: none;
}

.wm-btn.wm-btn-blue {
	background-color: #049;
	background-image: linear-gradient(to bottom, #2C8AFF, #049);
	color: white;
	border: thin solid steelblue;
}

.wm-btn.wm-btn-red {
	background-color: #09f;
	background-image: linear-gradient(to bottom, #E05643, #D03D2B);
	color: white;
	border: thin solid #D03D2B;
}

.wm-btn.wm-btn-green {
	background-color: #add555;
	background-image: linear-gradient(to bottom, #add777, #add555);
	color: white;
	border: thin solid #add222;
}

.wm-btn.wm-btn-blue:disabled {
	background: #2C8AFF;
}

.wm-btn.wm-btn-pdf {
	background-image: url('../img/pdf.gif');
	background-repeat: no-repeat;
	background-position: 4px 7px;
	padding-left:16px;
}

.wm-btn.disabled {
	color: #bbb;
	cursor: not-allowed;
	opacity: 0.5;
}

.wm-btn,.wm-input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	height: 34px;
	border-radius: 4px;
}

.wm-btn-group .wm-btn {
	float: left;
	margin: 0;
	border-radius: 0;
}

.wm-btn-group .wm-btn:first-of-type {
	border-radius: 5px 0 0 5px;
}

.wm-btn-group .wm-btn:last-of-type {
	border-radius: 0 5px 5px 0;
}

.wm-btn-group:after {
	clear: both;
	content: '';
	display: block;
}

.wm-title {
	margin-bottom: 10px;
	margin-top: 10px;
	font-weight: normal;
	font-family: 'Calibri', 'Trebuchet MS';
}

.wm-text-warning {
	color: #c09853;
}

#response-frame {
	width: 100%;
	border: thin solid #aaa;
	height: 300px;
	display: none;
}

section.right-container {
	margin: 0 auto;
	width: 1000px;
}

[data-color='gray'] {
	color: #555;
}

div.img-show {
	top: 50px;
	left: 120px;
	display: none;
	height: 300px;
	width: 300px;
	position: absolute;
	border-radius: 5px;
	box-shadow: 0 0 20px black;
}

div.img-show--close {
	cursor: pointer;
	content: '×';
	display: block;
	height: 20px;
	width: 20px;
	background: rgba(204, 0, 0, 0.65);
	right: 0;
	position: absolute;
	border-radius: 360px;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
	font-family: "Trebuchet MS";
	color: white;
	box-shadow: 0 0 10px black;
}

#form-cadastrar-aluno {
	margin: 0 auto;
	width: 500px;
}

.btn-default-izabela {
	background: #0061B2;
	padding: 2px 15px;
	height: 38px;
	border: none;
	font: 16px Arial;
	color: #ffffff;
	border-bottom: 6px solid #0A3D9B;
	cursor: pointer;
	box-sizing: border-box;
}

.btn-default-izabela:active {
	position: relative;
	top: 1.5px;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.contador {
	background: red;
	padding: 5px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-size: 10px;
	float: right;
}

.h-title {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #444;
}

.h-title.red {
	color: #D34242;
}

.h-title.blue {
	color: #005FB2;
}

.wm-input-container {
	padding: 10px;
	box-sizing: border-box;
}

.wm-input-container label {
	display: block;
	color: #222;
	font-weight: bold;
	text-shadow: 0 0 2px #ddd;
}

.link {
	color: royalblue;
	text-decoration: none;
	-webkit-transition: border .2s linear;
}

.link:hover {
	color: #049;
}

.table {
	border-collapse: collapse;
}

.table td,.table th {
	border: thin solid #ccc;
	padding: 5px 10px;
}

.item-aviso {
	
}

.item-aviso .item-line-aviso>p {
	font: 14px Arial;
	color: black;
	font-weight: bold;
	margin-top: 25px;
}

.item-aviso .item-line-aviso p.read {
	line-height: normal
}

.item-aviso .item-line-aviso p.unread {
	color: #0060B2;
	line-height: normal;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-muted {
	color: #999;
}

.text-right {
	text-align: right;
}

ul.wm-paginator {
	border: thin solid #ddd;
	border-radius: 5px;
	padding: 5px;
}

ul.wm-paginator li {
	list-style: none;
	display: inline-block;
}

ul.wm-paginator a {
	color: royalblue;
	text-decoration: none;
	display: inline-block;
	padding: 5px;
}

ul.wm-paginator a.active,ul.wm-paginator a.disabled {
	color: #222;
}

ul.wm-paginator a[href]:hover {
	text-decoration: underline;
}

.reprovada {
	border: 4px solid #FF0000;
	position: absolute;
	top: 40%;
	left: 15%;
	z-index: 1;
	-webkit-transform: rotate(-9deg);
	opacity: 0.6
}

.infouser-modal .leftP {
	float: left;
	width: 25%;
	text-align: right;
}

.infouser-modal .rightP {
	float: left;
	width: 25%;
	text-align: left;
}

.infouser-modal table {
	width: 50%;
}

.infouser-modal table tr:nth-child(odd) {
	background: #E2E4FF;
}

.infouser-modal table tbody tr:nth-child(even) {
	background: #FFFFFF;
}

.infouser-modal table tbody tr td {
	font: 15px Calibri;
	padding: 3px;
}

.infouser-modal table tbody tr td:nth-child(odd) {
	text-align: right;
}

.infouser-modal table tbody tr td:nth-child(even) {
	padding-left: 10px;
	text-align: left;
}

.reprovada h1 {
	font-family: Arial;
	font-weight: bold;
	color: #FF0000;
	font-size: 70px
}

.links-actions-groups a {
	margin: 0 5px;
}

input[type='radio'],[type='checkbox'] {
	box-shadow: 0 0 10px -4px royalblue;
}